@media (min-width: 760px) {
    .m-price {
        &__cards {
            display: flex;
            justify-content: center;
            margin-left: -10px;
            margin-right: -10px;
        }
        &__card {
            position: relative;
            box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.38);
            width: 370px;
            margin-right: 10px;
            margin-left: 10px;
            &-maney {
                padding-top: 32px;
                padding-bottom: 32px;
            }
            &-title {
                margin-top: 25px;
            }
            &-link {
                position: absolute;
                bottom: -20px;
                right: 50%;
                transform: translate(50% , 0);
            }
            &-list {
                margin-top: 30px;
                margin-bottom: 70px;
                ul li {
                    margin-bottom: 20px;
                }
            }
        }
    }
}