<section class="m-faq">
    <div class="m-faq__head m-block__head">
        <h2>FAQ</h2>
        <p>The answer to the questions you were afraid to ask</p>
    </div>
    <div class="m-faq__wrapper">
        <ul>
            <li>
                <h4>Maecenas fringilla ante metus?</h4>
                <p>Vestibulum eget feugiat nisl, aliquet ultrices nisi. Suspendisse quis nulla massa. Nunc eleifend mi
                    nec molestie aliquam. Nulla turpis nunc, commodo a est id, pretium convallis sem. Praesent faucibus
                    et neque at blandit. Quisque eget tincidunt enim, eget tempor ex.</p>
            </li>
            <li>
                <h4>Phasellus tellus urna, malesuada vel est sit amet?</h4>
                <p>Sed ultricies eget velit quis dictum. Nulla finibus pellentesque arcu in rutrum. Maecenas ipsum
                    lorem, lobortis maximus cursus nec, hendrerit volutpat sem. Nam rutrum sed dolor eget fringilla.
                    Vestibulum erat velit, tincidunt eu ullamcorper in, hendrerit sed nunc.</p>
            </li>
            <li>
                <h4>Duis justo diam, rutrum non dignissim?</h4>
                <p>Sed quis urna quam. Fusce vitae hendrerit purus. Donec aliquam justo sed vulputate porttitor. Integer
                    laoreet lacinia odio id finibus. Proin mi libero, accumsan nec mauris nec, malesuada auctor orci.
                    Mauris aliquet convallis eros, id ultrices mi sodales vel.</p>
            </li>
            <li>
                <h4>Cras leo nulla, lacinia non suscipit sed, scelerisque nisi?</h4>
                <p>Fusce volutpat ex ac magna aliquet porta. Donec fermentum pretium tellus, et consequat leo blandit
                    eu. Mauris varius felis massa, bibendum egestas risus vehicula et. Fusce faucibus euismod nisl non
                    fringilla. Integer semper dui justo, quis cursus mi tempus in. </p>
            </li>
        </ul>
        <a class="m-faq__link" href="">All questions</a>
    </div>
</section>