<section class="m-features">
    <div class="m-features__head m-block__head">
        <h2>Features</h2>
        <p>Our key competitive advantages</p>
    </div>

    <div class="m-features__cards">
        <div class="m-features__card">
            <div class="m-features__card-wrapper">
                <span></span>
                <h3>Header</h3>
                <p>Interdum et malesuada fames ac ante   primis in faucibus. Duis Interdum et malesuada fames ac ante   primis in faucibus. Duis </p>
            </div>
        </div>
        <div class="m-features__card">
            <div class="m-features__card-wrapper">
                <span></span>
                <h3>Header</h3>
                <p>Interdum et malesuada fames ac ante   primis in faucibus. Duis Interdum et malesuada fames ac ante   primis in faucibus. Duis </p>
            </div>
        </div>
        <div class="m-features__card">
            <div class="m-features__card-wrapper">
                <span></span>
                <h3>Header</h3>
                <p>Interdum et malesuada fames ac ante   primis in faucibus. Duis Interdum et malesuada fames ac ante   primis in faucibus. Duis </p>
            </div>
        </div>
    </div>
</section>