<section class="m-form">
    <div class="m-form__wrapper">
        <div class="container">
            <form action="" class="m-form__container">
                <div class="m-form__phone">
                    <label for="">Number of employees</label>
                    <input type="text" name="" id="">
                </div>
                <div class="m-form__select">
                    <label for="">For the payroll, I use</label>
                    <input type="text" name="" id="">
                    <!-- <select name="" id="">
                        <option value=""></option>
                        <option value="1">2</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select> -->
                </div>
                <div class="m-form__submit">
                <input type="submit" value="Compare plans">
            </div>
            </form>
        </div>
    </div>
</section>