<section class="m-partners">
    <div class="container">
        <div class="m-partners__head m-block__head">
            <h2>Our partners</h2>
            <p>Our partners are in a hurry to share their opinions about us</p>
            <div class="m-partners__list">
                <ul>
                    <li>
                        <img src="images/main/partners-1.png" alt="">
                        <a href=""></a>
                    </li>
                    <li>
                        <img src="images/main/partners-2.png" alt="">
                        <a href=""></a>
                    </li>
                    <li>
                        <img src="images/main/partners-3.png" alt="">
                        <a href=""></a>
                    </li>
                    <li>
                        <img src="images/main/partners-4.png" alt="">
                        <a href=""></a>
                    </li>
                    <li>
                        <img src="images/main/partners-5.png" alt="">
                        <a href=""></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>