<section class="m-price">
    <div class="m-price__head m-block__head">
        <h2>Price</h2>
        <p>Compare our tariff plans</p>
    </div>
    <div class="m-price__cards">
        <div class="m-price__card">
            <div class="m-price__card-wrapper">
                <div class="m-price__card-title m-price__card-title--blue">
                    <span>Tier 1</span>
                </div>
                <div class="m-price__card-maney m-price__card-maney--blue">
                    <span>&</span>
                    <span>11.99</span>
                    <span>/ month</span>
                </div>
                <div class="m-price__card-list">
                    <ul>
                        <li>Some option number 1</li>
                        <li>Some option number 1</li>
                        <li>Some option number 1</li>
                        <li>Some option number 1</li>
                        <li>Some option number 1</li>
                    </ul>
                </div>
                <a class="m-price__card-link m-price__card-link--blue" href="">Choose</a>
            </div>
        </div>

        <div class="m-price__card">
            <div class="m-price__card-wrapper">
                <div class="m-price__card-title m-price__card-title--green">
                    <span>Tier 1</span>
                </div>
                <div class="m-price__card-maney m-price__card-maney--green">
                    <span>&</span>
                    <span>11.99</span>
                    <span>/ month</span>
                </div>
                <div class="m-price__card-list">
                    <ul>
                        <li>Some option number 1</li>
                        <li>Some option number 1</li>
                        <li>Some option number 1</li>
                        <li>Some option number 1</li>
                        <li>Some option number 1</li>
                    </ul>
                </div>
                <a class="m-price__card-link m-price__card-link--green" href="">Choose</a>
            </div>
        </div>

    </div>
</section>