<section class="m-smart">
    <div class="m-smart__info">
        <h1>Be Smart, Think Smart, Save Money</h1>
        <p>Compare your take-home today</p>
        <form class="m-smart__form" action="">
            <div class="m-smart__form-phone">
                <label for=""></label>
                <input type="text" name="" id="" placeholder="Phone Number">
            </div>
            <div class="m-smart__form-wrapper">
                <div class="m-smart__form-date">
                    <label for=""></label>
                    <input type="text" name="" id="" placeholder="Day Rate">
                </div>
                <div class="m-smart__form-submit">
                    <input type="submit" value="Submit">
                </div>
            </div>
        </form>
    </div>
    <div class="m-smart__image">
        <img src="images/main/image.png" alt="">
    </div>
</section>