<section class="m-works">
    <div class="m-works__head m-block__head">
        <h2>How it works</h2>
        <p>Get the result in 3 easy steps</p>
    </div>
    <div class="m-works__cards">
        <div class="m-works__cards-wrapper">
            <div class="m-works__card">
                <h3>01</h3>
                <p>Enter your details</p>
            </div>
            <div class="m-works__card">
                <h3>01</h3>
                <p>We calculate your take-home from over  200+ payroll provider</p>
            </div>
            <div class="m-works__card">
                <h3>01</h3>
                <p>We contact you to give you the results</p>
            </div>
        </div>
    </div>
</section>