@media (min-width: 760px) {
    .m-footer {
        &__wrapper {
            padding-bottom: 40px;
            border-bottom: 1px solid #3F72AF;
        }
        &__company {
            display: flex;
            justify-content: space-between;
        }
        &__logo {
            flex-basis: 33%;
            margin-right: 20px;
        }
        &__menu {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            &-col {
                width: 45%;
                margin-right: 10px;
                margin-left: 10px;
            }
        }
        &__address {
            text-align: center;
            margin: 23px 0;
        }
    }
}
