.m-partners {
  background-color: #f9f7f7;
  padding-top: 45px;
  padding-bottom: 55px;
  &__list {
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      li {
        margin-bottom: 20px;
        margin-right: 30px;
        margin-left: 30px;
      }
    }
  }
}
