.m-works {
    padding-right: 10px;
    padding-left: 10px;
    background-color: #F9F7F7;
    &__cards {
        text-align: center;
        h3 {
            font-family: 'PlayfairDisplay-Medium';
            font-size: 30px;
            color: #4D4D4D;
        }
    }
}