@media (min-width: 760px) {
    .m-smart {
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
        &__form {
            font-size: 16px;
            input {
                padding: 20px;
                border-radius: 40px;
            }
        }
        &__info {
            flex-basis: 35%;
            h1 {
                margin-top: 90px;
                max-width: 300px;
                font-size: 50px;
            }
            p {
                font-size: 21px;
            }
        }
        &__form {
            input {
                width: 100%;
            }
            &-wrapper {
                display: flex;
                justify-content: space-between;
                margin-top: 30px;
            }
            &-date,  &-submit {
                width: 45%;
                text-align: right;
            }
        }
        &__image {
            flex-basis: 60%;
            img {
                margin-top: 200px;
            }
        }
    }
}