@media(min-width: 760px) {
    .m-form {
        position: relative;
        padding-top: 53px;
        padding-bottom: 53px;
        overflow: hidden;
        &__container {
            max-width: 850px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            div {
                text-align: left;
                flex-basis: 30%;
                label {
                    padding-bottom: 10px;
                    font-size: 18px;
                    padding-left: 5px;
                }
                input {
                    min-height: 49px;
                }
            }
        }
        &__submit {
            align-self: flex-end;
        }
    }
}
.m-form::after, .m-form::before {
    content: url('../images/main/decor-form.png');
    position: absolute;
    top: -50%;
    z-index: -1;
}
.m-form::after {
    left: 0;
}

.m-form::before {
    right: 0;
    transform: scale(-1, 1);
}