.m-header {
    padding: 10px;
    font-family: 'Roboto-Regular';
    font-size: 16px;
    &__logo {
        img {
            max-width: 100px;
        }
    }
    &__navigation {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        button {
            background-color: transparent;
            color: #666666;
            border: none;
        }
        button.m-header__navigation-contact {
            color: #3F72AF;
            border: 1px solid #3F72AF;
            border-radius: 10px;
            padding: 10px 25px;
        }
    }
}
